.info-box {
  min-width: 160px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-self: baseline;
  gap: 2rem;

  img {
    width: 24px;
    height: 24px;
  }

  .game-info {
    gap: 10px;

    p {
      font-size: 1.7rem;
      line-height: 1.7rem;
      text-align: center;
      margin: 0;

      gap: 10px;
    }

    .shot-circles img {
      width: 18px;
      height: 18px;
    }
  }

  .game-info,
  .last-shots-info,
  .game-buttons {
    padding: 10px;
    border: 2px black groove;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .last-shots-info {
    text-align: center;

    p {
      margin: 0;
      font-size: 1.2rem;
      text-align: left;
      width: 100%;
    }

    button {
      display: block;
      font-size: 1.2rem;
      padding: 10px 20px;
      margin-bottom: 10px;
      border-radius: 16px;
      background-color: #A1CCD1;
      color: #4d4d4d;

      &:hover {
        background-color: green;
        color: white;
      }

      &:focus {
        outline: 2px solid darkblue;
      }
    }
  }

  .game-buttons {
    button {
      display: block;
      font-size: 1.2rem;
      padding: 10px 20px;
      margin-bottom: 10px;
      border-radius: 16px;
      background-color: #A1CCD1;
      color: #4d4d4d;

      &:hover {
        background-color: green;
        color: white;
      }

      &:focus {
        outline: 2px solid darkblue;
      }
    }

    button:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1300px) {
  .info-box {
    span {
      font-size: 2vw;
      line-height: 3vw;
    }

    button {
      font-size: 1.5vw;
      padding: 1vw 2vw;
      border-radius: 2vw;
    }
  }
}

@media (max-width: 800px) {
  .info-box {
    span {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }

    button {
      font-size: 1.2rem;
      padding: 1vw 2vw;
      border-radius: 2vw;
    }
  }
}