.info-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-self: baseline;
  gap: 2rem;

  @media (max-width: 800px) {
    flex-flow: row nowrap;
    align-items: stretch;
  }

  @media (max-width: 650px) {
    flex-flow: column nowrap;
    gap: 1rem;
  }

  img {
    width: var(--icon-size-normal);
    height: var(--icon-size-normal);
  }

  .game-info {
    gap: 10px;

    p {
      font-size: var(--font-size-big);
      line-height: var(--font-size-big);
      text-align: center;
      margin: 0;

      gap: 10px;
    }

    .shot-circles img {
      width: var(--icon-size-small);
      height: var(--icon-size-small);
    }
  }

  .game-info,
  .last-shots-info,
  .game-buttons {
    padding: 10px;
    border: 2px black groove;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    @media (max-width: 800px) {
      width: auto;
    }

    @media (max-width: 650px) {
      width: 100%;
    }
  }

  .last-shots-info {
    text-align: center;

    p {
      margin: 0;
      font-size: var(--font-size-medium);
      text-align: left;
      width: 100%;
    }

    button {
      display: block;
      font-size: var(--font-size-medium);
      padding: 10px 20px;
      margin-bottom: 10px;
      border-radius: 16px;
      background-color: #A1CCD1;
      color: #4d4d4d;

      &:hover {
        background: green;
        color: white;
      }

      &:focus {
        outline: 2px solid darkblue;
      }

      &:disabled,
      &:disabled:hover {
        background: lightgray;
        color: #4d4d4d;
      }
    }
  }

  .game-buttons {
    button {
      display: block;
      font-size: var(--font-size-medium);
      padding: 10px 20px;
      margin-bottom: 10px;
      border-radius: 16px;
      background-color: var(--color-btn-game-controls);
      color: #4d4d4d;

      &:hover {
        background-color: green;
        color: white;
      }

      &:focus {
        outline: 2px solid darkblue;
      }
    }

    button:last-of-type {
      margin-bottom: 0;
    }
  }
}