table.score-sheet {
  border-collapse: collapse;

  th,
  td {
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    &.no-bottom-border {
      border-bottom: 2px transparent solid;
    }

    &.no-right-border {
      border-right: 2px transparent solid;
    }
  }

  .player-cell,
  .shot-cell {
    font-size: var(--font-size-extra-big);
    text-align: center;
    padding: 10px 15px;

    @media (max-width: 800px) {
      padding: 4px 6px;
    }
  }

  .names-row {
    p {
      margin: 0;
    }

    img {
      width: var(--icon-size-medium);
      margin-right: -5px;
    }

    .current-player {
      color: var(--color-main);

      img {
        /* A weird trick to change the color of black image to main color 
           https://codepen.io/sosuke/pen/Pjoqqp
        */
        filter: invert(39%) sepia(96%) saturate(1867%) hue-rotate(5deg) brightness(91%) contrast(98%);
      }
    }
  }

  .shots-row {
    img {
      width: var(--icon-size-big);
      margin: 0 auto;
      line-height: 0;
      display: block;
    }
  }

  .shot-cell {
    position: relative;

    .shot-score-x-mark {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) scale(1.3);
      opacity: 1;
    }
  }
}