.shot-button-row {
  display: flex;
  justify-content: center;
  margin-bottom: calc(.4 * var(--font-size-extra-big));
  line-height: 0;
}

.shot-button {
  font-size: var(--font-size-extra-big);
  margin-right: calc(.4 * var(--font-size-extra-big));
  border-radius: 16px;
  color: white;
  width: calc(3 * var(--font-size-extra-big));
  height: calc(2.3 * var(--font-size-extra-big));

  &:hover {
    background-color: green;
    color: white;
  }

  &:focus {
    outline: 2px solid black;
  }
}

.shot-button.single {
  background-color: var(--color-btn-shot-single);
}

.shot-button.double {
  background-color: var(--color-btn-shot-double);
}

.shot-button.triple {
  background-color: var(--color-btn-shot-triple);
}

.shot-button.pass {
  background-color: var(--color-btn-shot-pass);
}

.shot-button.single:hover,
.shot-button.double:hover,
.shot-button.triple:hover,
.shot-button.pass:hover {
  background-color: green;
  color: white;
}